# General
/*
!/.eslintignore
!/.eslint.json
!/.gitignore
!/package.json
!/tsconfig.json
!/update-node.sh

!/config
!/patch_notes
!/src


# Documentation
!/README.md
!/docs

# Development Automation
!/docker-compose.yml
!/sql
