# General
/*
!/.gitignore
!/README.md
!/bot.js
!/docs

# keyv
!/node_modules
/node_modules/*
!/node_modules/keyv

# @keyv
!/node_modules/@keyv
/node_modules/@keyv/*
!/node_modules/@keyv/sql

# Package
!/package.json
